APP_NAME = Gogs
RUN_USER = git
RUN_MODE = prod

[server]
PROTOCOL         = http
DOMAIN           = git.mydomain.com
HTTP_PORT        = 3000
ROOT_URL         = https://git.mydomain.com/
DISABLE_SSH      = false
SSH_PORT         = 10022
START_SSH_SERVER = false
OFFLINE_MODE     = false

CERT_FILE        = /etc/ssl/git.mydomain.com/cert.pem
KEY_FILE         = /etc/ssl/git.mydomain.com/key.pem


[repository]
ROOT = /data/git/git-repositories

[database]
DB_TYPE  = mysql
HOST     = gitea-db:3306
NAME     = gitea
USER     = root
PASSWD   = root
SSL_MODE = disable
PATH     = data/gitea.db

; Allowed TLS version values: SSL30, TLS10, TLS11, TLS12
;TLS_MIN_VERSION = TLS10

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM = false
ENABLE_NOTIFY_MAIL     = false
DISABLE_REGISTRATION   = false
ENABLE_CAPTCHA         = true
REQUIRE_SIGNIN_VIEW    = false

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = true

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = Info
ROOT_PATH = /app/gitea/log

[other]
SHOW_FOOTER_VERSION            = false
SHOW_FOOTER_TEMPLATE_LOAD_TIME = false

[mailer]
ENABLED = true
HOST  = smtp.gmail.com:465
FROM  = "xx xx" <xxx@xx.xx>
USER  = xxx@xx.xx
PASSWD = xxxxxx

